<h4 class="text-center">ICD10CM Table</h4>

<div class="row">
  <div class="col-lg-10 col-md-offset-1">
    <%= form_tag search_icd10cms_path, :class => "navbar-form navbar-center", method: 'get' do %>
      <%= text_field_tag :q, params[:q], :class => "form-control", :placeholder => "Search for code/disease (English, Chinese)" %>
      <%= submit_tag :search, :class => "btn btn-default"  %>
    <% end %>
  </div>
<div>
<%= paginate @icd10cms %>
<table class="table">
  <thead>
    <tr>
      <th>Code</th>
      <th>English Disease</th>
      <th>中文病名</th>
      <th>ICD9CM code</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @icd10cms.each do |icd10cm| %>
      <tr>
        <td><%= icd10cm.code %></td>
        <td><%= icd10cm.disease_en %></td>
        <td><%= icd10cm.disease_zhtw %></td>
        <td>
          <% icd10cm.icd9cms.each do |cmv9| %>
            <%= link_to cmv9.code, icd10cm, :class => 'btn btn-default btn-xs' %><span>;</span>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_icd10cm_path(icd10cm) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Icd10cm', new_icd10cm_path %>
