<h1>Listing icd10cms</h1>

  <hr>
  <%= form_tag search_icd10cms_path, method: 'get' do %>
    <%= label_tag :query %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag :search %>
  <% end %>
  <hr>

<%= paginate @icd10cms %>
<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Disease en</th>
      <th>Disease zhtw</th>
      <th>Disease synonym</th>
      <th>Clinical</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @icd10cms.each do |icd10cm| %>
      <tr>
        <td><%= icd10cm.code %></td>
        <td><%= icd10cm.disease_en %></td>
        <td><%= icd10cm.disease_zhtw %></td>
        <td><%= icd10cm.disease_synonym %></td>
        <td><%= icd10cm.clinical %></td>
        <td><%= link_to 'Show', icd10cm %></td>
        <td><%= link_to 'Edit', edit_icd10cm_path(icd10cm) %></td>
        <td><%= link_to 'Destroy', icd10cm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Icd10cm', new_icd10cm_path %>
